<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BookMapper">
    <resultMap id="bookList" type="BookBookTagVo">
        <result column="book_Id" property="bookId"/>
        <result column="title" property="title"/>
        <result column="author" property="author"/>
        <result column="publisher" property="publisher"/>
        <result column="isbn" property="isbn"/>
        <collection property="bookTagVoList" resultMap="booktag"/>
    </resultMap>

    <resultMap id="booktag" type="BookTagVo">
        <result property="booktagId" column="booktag_id"/>
        <result property="tagName" column="tag_name"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="selectBookList" parameterType="SysBookReq" resultMap="bookList">
        select sb.book_id,
               sb.title,
               sb.author,
               sb.publisher,
               sb.isbn,
               sbb.book_booktag_id,
               sbb.book_id,
               sbb.booktag_id,
               sbb.status,
               sbt.booktag_id,
               sbt.tag_name,
               sbt.status
        from sys_book sb
                 left join sys_book_booktag sbb on sb.book_id = sbb.book_id
                 left join sys_booktag sbt on sbb.booktag_id = sbt.booktag_id
        <where>
            <if test="bookId ！= null">AND sb.book_id = #{bookId}</if>
            <if test="title != null and title != ''">AND sb.title LIKE CONCAT('%',#{title},'%')</if>
            <if test="author != null and author != ''">AND sb.author LIKE CONCAT('%',#{author},'%')</if>
            <if test="bookTag != null and bookTag != ''">AND sbt.tag_name LIKE CONCAT('%',#{bookTag},'%')</if>
        </where>
    </select>

    <select id="selectBookListByIds" parameterType="java.util.List" resultMap="bookList">
        select sb.book_id,
        sb.title,
        sb.author,
        sb.publisher,
        sb.isbn,
        sbb.book_booktag_id,
        sbb.book_id,
        sbb.booktag_id,
        sbb.status,
        sbt.booktag_id,
        sbt.tag_name,
        sbt.status
        from sys_book sb
        left join sys_book_booktag sbb on sb.book_id = sbb.book_id
        left join sys_booktag sbt on sbb.booktag_id = sbt.booktag_id
        where sb.book_id in
        <foreach collection="bookIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <insert id="insertBook" parameterType="SysBook" useGeneratedKeys="true" keyProperty="bookId">
        insert into sys_book (book_id, title, author, publisher, isbn)
        values (#{bookId},#{title},#{author},#{publisher},#{isbn});
    </insert>

    <update id="updateBook" parameterType="SysBook">
        update sys_book
        <set>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="author != null and author != ''">author = #{author},</if>
            <if test="publisher != null and publisher != ''">publisher = #{publisher},</if>
            <if test="isbn != null and isbn != ''">isbn = #{isbn},</if>
        </set>
        where book_id = #{bookId}
    </update>

    <insert id="deleteBookById" useGeneratedKeys="true" parameterType="SysBookBooktag" keyProperty="bookBooktagId">
        insert into sys_book_booktag (book_id, booktag_id, status)
        values
        <foreach collection="allPairs" item="pair" separator=",">
            (#{pair.bookId}, #{pair.tagId})
        </foreach>
        ;
    </insert>

    <select id="selectBookBooktagList" parameterType="BookBooktagDto" resultType="SysBookBooktag">
        select sbb.book_booktag_id, sbb.book_id, sbb.booktag_id, sbb.status
        from sys_book_booktag sbb
        <where>
            <if test="bookBooktagId != null">and book_booktag_id = #{bookBooktagId}</if>
            <choose>
                <when test="bookId != null">
                    AND book_id = #{bookId}
                </when>
                <when test="bookIdList != null and bookIdList.size() > 0">
                    AND book_id IN
                    <foreach collection="bookIdList" item="bookId" open="(" separator="," close=")">
                        #{bookId}
                    </foreach>
                </when>
            </choose>
            <if test="tagId != null">and tag_id = #{tagId}</if>
        </where>
    </select>

    <insert id="insertBookBooktag" parameterType="java.util.List" useGeneratedKeys="true">
        insert into sys_book_booktag (book_id, booktag_id, status)
        values
            <foreach collection="sysBookBooktagList" item="sysBookBooktag" separator=",">
                (#{sysBookBooktag.bookId},#{sysBookBooktag.booktagId},#{sysBookBooktag.status})
            </foreach>
    </insert>
</mapper>
